.vbox-principal {
    -fx-background-color: #A1A1A1;
}

.btn-primary {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: #0056b3;
}

.btn-danger {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-danger:hover {
    -fx-background-color: #a71d2a;
}